// Custom.scss

// Override bootstrap container variables for a more filled screen on mobile
$container-max-widths: (
        sm: 540px,
        md: 90%,
        lg: 960px,
        xl: 1140px,
        xxl: 1320px
);

// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

:root {
    --main-white: rgb(239, 239, 241);
    --blue-yonder: #4A6FA5;
    --blue-sapphire: #166088;
    --cadet: #4F6D7A;
    --col-blue: #C0D6DF;
    --dark-blue: #091d36;
    --light-blue: #c2d2e9;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0 0;
    padding: 0 0;
    font-size: 1rem;
    font-family: 'Poppins Medium', sans-serif;
}

.centerDiv {
    height: 100%;
}

.centerLogin {
    width: 100%;
    padding: 2vh 0;

}

.login-bg {
    -webkit-box-shadow: 0px 0px 16px 0px rgba(22,96,136,0.75);
    -moz-box-shadow: 0px 0px 16px 0px rgba(22,96,136,0.75);
    box-shadow: 0px 0px 16px 0px rgba(22,96,136,0.75);
    margin: 4vw auto 4vh;
    padding: 3vh 0;
    background-color: var(--main-white);
    position: relative;
}

.login-bg > .row {
    width: 85%;
}

.login-bg form {
    width: 100%;
}

.main-bg {
    -webkit-box-shadow: 0px 0px 16px 0px rgba(22,96,136,0.75);
    -moz-box-shadow: 0px 0px 16px 0px rgba(22,96,136,0.75);
    box-shadow: 0px 0px 16px 0px rgba(22,96,136,0.75);
    margin: 8vh auto 2vh;
    background: var(--main-white);
    position: relative;
}

.main-bg > .container {
    height: 100%;
}

.main-bg > .row {
    width: 85%;
}

.card-header .fa {
    transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
    transform: rotate(90deg);
}

.video-hero--content {
    position: relative;
    height: 100%;
}

.main-btn {
    background-color: var(--col-blue);
}

.navbar {
    /*background: rgb(79,109,122);*/
    /*background: linear-gradient(180deg, rgba(79,109,122,1) 0%, rgba(79,109,122,0.6993172268907564) 84%, rgba(79,109,122,0) 100%);*/

    //background: rgb(79,109,122);
    //background: linear-gradient(180deg, rgba(79,109,122,1) 0%, rgba(79,109,122,0.6993172268907564) 95%, rgba(79,109,122,0) 100%);

    background: rgba(239, 239, 241, 1);
    border-bottom: 2px solid #5e83ba;
}

.nav-link {
    color: var(--dark-blue);
}

.navbar-brand img {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 100%;
    border: 1px solid var(--dark-blue);
    padding: 5px;
    transition: 0.2s ease-in-out;
}

.navbar-brand img:hover {
    -webkit-box-shadow: 0px 0px 16px 0px rgba(194,210,233,0.75);
    -moz-box-shadow: 0px 0px 16px 0px rgba(194,210,233,0.75);
    box-shadow: 0px 0px 16px 0px rgba(194,210,233,0.75);
}

.nav-item {
    font-size: 1rem;
    transition: 0.2s;
}

.nav-item:hover,
.nav-link:hover {
    text-shadow: 0px 0px 10px rgba(194,210,233,0.65);
}

.navbar-toggler-icon {
    color: var(--dark-blue);
}

.dropdown-menu {
    background: var(--main-white);
    border: none;
    border-left: 0.3em solid #5e83ba;
    border-radius: 0;
}

.dropdown-item {
    //color: var(--dark-blue);
    //border: none;
    //transition: 0.2s;

    color: var(--dark-blue);
    transition: 0.1s;
}

.dropdown-item:hover {
    //background-color: var(--light-blue);
    //border-left: 3px solid var(--col-blue);
    //text-shadow: 0px 0px 6px rgba(194,210,233,0.65);

    background-color: rgba(22,96,136,0.0);
    //border-left: 3px solid var(--col-blue);
    text-shadow: 0 0 6px var(--light-blue);
}

.homeButton {
    height: 10vh;
}

.homeButtons .row {
    padding: 1%;
}

.main-button-outline {
    border: 1px solid var(--blue-sapphire);

}

.main-button-outline:hover,
.main-button-outline:active,
.main-button-outline:focus,
.main-button-outline.active {
    background: #5e83ba;
    border-color: #5e83ba;
    color: #FFFFFF;
}

.secondary-button-outline {
    border-color: var(--blue-yonder);
}

.secondary-button-outline:hover,
.secondary-button-outline:active,
.secondary-button-outline:focus,
.secondary-button-outline.active {
    background: var(--col-blue);
    border-color: var(--col-blue);
}

.header {
    padding: 2%;
    align-items: center;
}

.fishImage {
    max-width: 20vw;
    max-height: 20vh;
}

.sectionHeader {
    padding-bottom: 2%;
}

.pageForm {
    width: 100%;
}

.stackedItems {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.marginStrip {
    margin: 0;
}

@include media-breakpoint-only(md) {
    html, body {
        font-size: 3vw;
    }
    input[type="color"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select:focus,
    textarea {
        font-size: 5vw;
    }
}

.styledA {
    text-decoration: none;
    color: black;
}

.styledA:hover {
    color: black;
}

.form-label {
    font-size: 1.5em;
}

table {
    position: relative;
}

.rowLink::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2.5em;
    margin-top: -0.5rem;
}

.backButton {
    margin-left: -10vw;
    position: relative;
}

.backArrow {
    font-size: inherit;
    position: absolute;
    transition: 0.1s linear;
}

.backArrow:hover {
    font-size: 2.5em;
    color: black !important;
    text-shadow: 0 0 5px rgba(0,0,0,0.33);
    cursor: pointer;
}

.forgotPassword {
    transition: 0.1s linear;
}
.forgotPassword:hover {
    color: black !important;
    cursor: pointer;
    text-shadow: 0 0 5px rgba(0,0,0,0.33);
}

.profilePhoto {
    width: 20vw;
    border: 1px solid blue;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.15);
}

.updateRank {
    margin-top: -1.5vh;
}

.twoButtonGroup {
    padding: 0;
}
