<!-- HTML File header, insert necessary stylesheets + scripts then open body tag-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blue Lakes</title>
    <!-- Import bootstrap stylesheet -->
<!--    <link rel="stylesheet" href="/css/bootstrap.min.css">-->
    <!--  Import personal stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Import font-awesome stylesheet for icons -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- Import jquery background video function for exactly that, not currently in use due to bandwidth restrictions -->
    <link rel="stylesheet" href="/css/jquery.background-video.css">
    <!-- Setup browser icon -->
    <link rel="icon" href="/assets/tabIcon.png">
    <!-- Import datatables stylesheet for paginated tables -->
    <link rel="stylesheet" type="text/css" href="/dataTables/datatables.css">

    <!-- Script paths, Jquery / Boostrap / Personal / VideoBG / Datatables  -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/jquery.background-video.js"></script>
    <script type="text/javascript" charset="utf8" src="/dataTables/datatables.js"></script>

</head>
<body>
