<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blue Lakes</title>
    <!--on same level as css/js directories -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/jquery.background-video.css">
    <link rel="icon" href="/assets/tabIcon.png">

    <!--include path to jquery and boostraps js-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/jquery.background-video.js"></script>
    <script src="/js/tableFormat.js"></script>

</head>
<body>
