<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blue Lakes</title>
    <!--include the path to the stylesheet-->
    <% if (levelDeep === true) { %>
        <!--one lower than as css/js directories -->
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/style.css">

        <!--include path to jquery and boostraps js-->
        <script src="../js/jquery.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
    <% } else { %>
        <!--on same level as css/js directories -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">

        <!--include path to jquery and boostraps js-->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    <% } %>
</head>
<body>
