<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blue Lakes</title>
    <!--on same level as css/js directories -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/jquery.background-video.css">
    <link rel="icon" href="/assets/tabIcon.png">
<!--    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.10.25/b-1.7.1/b-print-1.7.1/r-2.2.9/sp-1.3.0/datatables.min.css"/>-->
    <link rel="stylesheet" type="text/css" href="/dataTables/datatables.css">

    <!--include path to jquery and boostraps js-->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/jquery.background-video.js"></script>
<!--    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.10.25/b-1.7.1/b-print-1.7.1/r-2.2.9/sp-1.3.0/datatables.min.js"></script>-->
    <script type="text/javascript" charset="utf8" src="/dataTables/datatables.js"></script>

</head>
<body>
