<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">Blue Lakes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/anglerReports/new">New Angler Report <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/anglerReports/">All Angler Reports <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lakeReports/new">New Lake Report <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lakeReports/">All Lake Reports <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div class="nav-item dropdown navbar-nav">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% if (!currentUser) {%>
                <a class="dropdown-item" href="/login">Login</a>
                <a class="dropdown-item" href="/register">Register</a>
                <% } else { %>
                    <a class="dropdown-item" href="/logout">Logout</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="INSERT" method="post" class="text-center" name="submit">
                    <div class="form-group">
                        <label for="email_pk">Email: </label>
                        <input type="text" id="email_pk" placeholder="jdoe@gmail.com" name="email_pk">
                    </div>
                    <div class="form-group">
                        <label for="password">Password: </label>
                        <input type="password" id="password" placeholder="" name="password">
                    </div>
                </form>
            </div>
            <div style="horiz-align: center">
                <button type="button" class="btn btn-primary">Login</button>
                <button type="button" class="btn btn-info dropdown-item" data-toggle="modal" data-target="#registerModal">Register</button>
            </div>
        </div>
    </div>
</div>
