<!-- Water background -->

<div class="jquery-background-video-wrapper">
    <video class="my-background-video jquery-background-video" loop autoplay muted playsinline poster="/assets/WaterImage.png" play>
        <img src="https://res.cloudinary.com/jaredcloud/image/upload/v1617254136/WaterImage_kjposo.png" alt="">
    </video>
    <div class="video-overlay"></div>
    <div class="video-hero--content overflow-auto">
