<!-- Water background -->

<div class="jquery-background-video-wrapper">
    <video class="my-background-video jquery-background-video" loop autoplay muted playsinline poster="/assets/WaterImage.png" play>
        <source src="https://res.cloudinary.com/jaredcloud/video/upload/v1617253967/WaterVideo_limeh8.mp4" type="video/mp4">
    </video>
    <div class="video-overlay"></div>
    <div class="video-hero--content overflow-auto">
