<!-- Water background -->

<div class="jquery-background-video-wrapper">
    <video class="my-background-video jquery-background-video" loop autoplay muted playsinline poster="https://res.cloudinary.com/the-land-between/image/upload/v1622040788/BlueLakes/WaterImage_gscmyo.png" play>
    </video>
    <div class="video-overlay"></div>
    <div class="video-hero--content overflow-auto">
