<!-- include the partial at the top of the file-->
<%- include('../partials/head')%>
<%- include('../partials/videoBG')%>

<div class="centerDiv d-flex align-items-center">
    <div class="container login-bg d-flex flex-column align-items-center justify-content-between bg-light">
        <%- include('../partials/flash') %>
        <div class="row backButton">
            <a href="/login">
                <i class="fa fa-arrow-left fa-2x backArrow text-muted"></i>
            </a>
        </div>
        <div class="row header d-flex flex-column">
            <h1 class="text-center display-2">Forgot Password</h1>
        </div>
        <div class="row d-flex flex-column">
            <form action="/forgot" method="POST" class="needs-validation" name="login" novalidate>
                <div class="mb-3">
                    <!-- date input, sent under 'date' label-->
                    <label class='form-label' for="username">Account Email: </label> <!-- User inputs their account email -->
                    <input type="email" id="username" placeholder="sample@google.ca" name="username" class="form-control" required>
                    <!-- Option to have, can also give negative feedback to suggest formatting or smth -->
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-3"></div>
                    <div class="col-md-12 col-lg-6">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-outline-primary">Send Email</button>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-3"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Include proper closing tags -->
<%- include('../partials/foot')%>

<!-- Client Side Form Validation -->
<script src="js/clientValidation.js"></script>
