<!-- include the partial at the top of the file-->
<%- include('../partials/head')%>
<%- include('../partials/navbar')%>
<%- include('../partials/videoBG')%>

<div class="container centerLogin d-flex justify-content-center">
    <div class="container bg-light login-bg d-flex flex-column align-items-center justify-content-center overflow-auto">
        <%- include('../partials/flash') %>
        <div class="row header d-flex flex-column">
            <h1 class="text-center display-4">Forgot Password</h1>
        </div>
        <div class="row d-flex flex-column">
            <form action="/forgot" method="POST" class="needs-validation" name="login" novalidate>
                <div class="form-group">
                    <!-- date input, sent under 'date' label-->
                    <label class='form-label' for="username">Account Email: </label> <!-- User inputs their account email -->
                    <input type="email" id="username" placeholder="sample@google.ca" name="username" class="form-control" required>
                    <!-- Option to have, can also give negative feedback to suggest formatting or smth -->
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-3"></div>
                    <div class="col-md-12 col-lg-6">
                        <button type="submit" class="btn btn-outline-primary btn-block">Send Email</button>
                    </div>
                    <div class="col-md-12 col-lg-3"></div>
                </div>
            </form>
        </div>
        <div class="row header d-flex flex-column">
            <a href="/login" class="text-center">Back to Login</a>
        </div>
    </div>
</div>

<!-- Client Side Form Validation -->
<script src="js/clientValidation.js"></script>
