<%- include('../partials/head')%>
<div class="container bg-light main-bg d-flex align-items-center overflow-auto">
    <div class="container">
        <%- include('../partials/flash') %>
        <h1>Account Recovery</h1>
        <form action="/recover" method="POST" class="needs-validation" name="login" novalidate>
            <div class="form-group">
                <!-- date input, sent under 'date' label-->
                <label class='form-label' for="recoveryToken">Recovery Code: </label>
                <input type="text" id="recoveryToken" placeholder="Email Code" name="recoveryToken" class="form-control" required>
                <!-- Option to have, can also give negative feedback to suggest formatting or smth -->
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="form-group">
                <!-- date input, sent under 'date' label-->
                <label class='form-label' for="password">Password: </label>
                <input type="password" id="password" placeholder="New Password" name="password" class="form-control" required>
                <!-- Option to have, can also give negative feedback to suggest formatting or smth -->
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="form-group">
                <!-- date input, sent under 'date' label-->
                <label class='form-label' for="password_verify">Re-Enter Password: </label>
                <input type="password" id="password_verify" placeholder="Re-type New Password" name="password_verify" class="form-control" required>
                <!-- Option to have, can also give negative feedback to suggest formatting or smth -->
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
    <div class="form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm">
            <button type="submit" class="btn btn-outline-primary btn-block">Submit</button>
        </div>
        <div class="col-sm-3"></div>
    </div>
    </form>
    <a href="/login">Back to Login</a>