<%- include('../partials/head')%>
<%- include('../partials/navbar')%>
<div class="container bg-light main-bg d-flex align-items-center overflow-auto">
    <div class="container">
        <%- include('../partials/flash') %>
        <h1>Register</h1>
        <form action="/register" method="POST" class="needs-validation" name="submit" novalidate>
            <div class="form-group">
                <!-- date input, sent under 'date' label-->
                <label class='form-label' for="username">Email: </label>
                <input type="email" id="username" placeholder="sample@google.ca" name="username" class="form-control" required>
                <!-- Option to have, can also give negative feedback to suggest formatting or smth -->
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="form-group">
                <!-- date input, sent under 'date' label-->
                <label class='form-label' for="firstName">First Name: </label>
                <input type="text" id="firstName" placeholder="Jane" name="firstName" class="form-control" required>
                <!-- Option to have, can also give negative feedback to suggest formatting or smth -->
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="form-group">
                <!-- date input, sent under 'date' label-->
                <label class='form-label' for="lastName">Last Name: </label>
                <input type="text" id="lastName" placeholder="Doe" name="lastName" class="form-control" required>
                <!-- Option to have, can also give negative feedback to suggest formatting or smth -->
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="form-group">
                <!-- date input, sent under 'date' label-->
                <label class='form-label' for="password">Password: </label>
                <input type="password" id="password" placeholder="Doe" name="password" class="form-control" required>
                <!-- Option to have, can also give negative feedback to suggest formatting or smth -->
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm">
                    <button type="submit" class="btn btn-outline-primary btn-block">Register</button>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </form>


        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function() {
                'use strict';

                const forms = document.querySelectorAll('.needs-validation')

                Array.from(forms).forEach(function(form) {
                    form.addEventListener('submit', function(event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
            })();
        </script>
