<%- include('partials/head')%>
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading"><%= err.message %></h4>
<!--    TODO: This is for development only, shows trace of the error. Change to like gif or something fun for viewers -->
    <p><%= err.stack %></p>
</div>
<%- include('partials/foot')%>
