<!-- include the partial at the top of the file-->
<%- include('../partials/head')%>
<%- include('../partials/navbar')%>
<%- include('../partials/videoBG')%>
<div class="container bg-light main-bg d-flex align-items-center overflow-auto">
    <div class="container">
        <%- include('../partials/flash') %>
        <h1 class="text-center">New Health Report</h1>
    <form action="/lakeReports" method="post" class="text-center needs-validation" name="submit" novalidate>
        <div class="form-group">
            <!-- date input, sent under 'date' label-->
            <label class='form-label' for="date_generated">Date Recorded: </label>
            <input type="date" id="date_generated" placeholder="yyyy-mm-dd" name="date_generated" class="form-control" required>
            <!-- Option to have, can also give negative feedback to suggest formatting or smth -->
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="form-group">
            <!-- health input, sent under 'health' label-->
            <label class='form-label' for="notes">Notes: </label>
            <input type="text" id="notes" placeholder="Additional Notes" name="notes" class="form-control" required>
        </div>
        <div class="form-group">
            <!-- health input, sent under 'health' label-->
            <label class='form-label' for="perc_shore_devd">Perc Shore Devd: </label>
            <input type="Number" id="perc_shore_devd" placeholder="perc shore devd" name="perc_shore_devd" class="form-control" required>
        </div>

        <!-- DISSOLVED OXYGEN AND TEMPERATURE READING -->
        <div class="container" id="tempDO_Container"> <!-- Each container is initialized as empty, in case the user doesn't want to submit a type of reading with the report -->
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <button class="btn btn-outline-secondary btn-block" type="button" id="addtemp_DO">Add Temp/DO Reading</button> <!-- As the user adds readings, cards are added to the associated container -->
            </div>
            <div class="col-sm-3"></div>
        </div>
        <br>

        <!-- SECCHI DEPTH READING -->
        <div class="container" id="secchiDepth_Container">
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <button class="btn btn-outline-secondary btn-block" type="button" id="addSecchi">Add Secchi Reading</button>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <br>

        <!-- PHOSPHORUS READING -->
        <div class="container" id="phosphorus_Container">
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <button class="btn btn-outline-secondary btn-block" type="button" id="addPhosphorus">Add Phosphorus Reading</button>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <br>

        <!-- CALCIUM READING -->
        <div class="container" id="calcium_Container">
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <button class="btn btn-outline-secondary btn-block" type="button" id="addCalcium">Add Calcium Reading</button>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <br>

        <!-- SUBMIT REPORT -->
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm">
                <button type="submit" class="btn btn-outline-primary btn-block">Submit</button>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </form>
    <br> <!-- TODO: REMOVE THIS, FORMAT PROPERLY -->
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm">
            <a href="/lakeReports" class="btn btn-outline-secondary btn-block">All Reports</a>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';

        const forms = document.querySelectorAll('.needs-validation')

        Array.from(forms).forEach(function(form) {
            form.addEventListener('submit', function(event) {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })();

    let tempDOCount = 0;
    $("#addtemp_DO").click(function() { //Add a card to the TempDO container
        tempDOCount = tempDOCount + 1;
        $("#tempDO_Container").append(`
        <div class="card">
                <div class="card-header">
                    <a data-toggle="collapse" href="#collapse-doTemp${tempDOCount}" aria-expanded="true" aria-controls="collapse-doTemp${tempDOCount}" id="heading-example" class="d-block">
                        <i class="fa fa-chevron-down pull-right"></i>
                        Temperature / Dissolved Oxygen ${tempDOCount}
                    </a>
                </div>
                <div id="collapse-doTemp${tempDOCount}" class="collapse show" aria-labelledby="heading-example">
                    <div class="card-body">
                        <div class="form-group">
                            <label class='form-label' for="temperature">Temperature: </label>
                            <input type="number" id="temperature" placeholder="Temperature Value" name="temperature" class="form-control" required>
                        </div>
                        </div>
                        <div class="form-group">
                            <label class='form-label' for="dissolved_oxygen">Do Conc: </label>
                            <input type="number" id="dissolved_oxygen" placeholder="Dissolved Oxygen" name="dissolved_oxygen" class="form-control" required>
                        </div>
                        <div class="form-inline">
                            <div class="form-group">
                                <label class='form-label' for="doTempCoordinateX">X-Coordinate: </label>
                                <input type="number" step="0.0001" id="doTempCoordinateX" placeholder="X" name="doTempCoordinateX" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label class='form-label' for="doTempCoordinateY">Y-Coordinate: </label>
                                <input type="number" step="0.0001" id="doTempCoordinateY" placeholder="Y" name="doTempCoordinateY" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label class='form-label' for="doTempDepth">Depth: </label>
                                <input type="number" step="0.01" id="doTempDepth" placeholder="Depth" name="doTempDepth" class="form-control" required>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        `)
    })

    let secchiCount = 0;
    $("#addSecchi").click(function() { //Add a secchi card to the secchi container
        secchiCount = secchiCount + 1;
        $("#secchiDepth_Container").append(`
            <div class="card">
                <div class="card-header">
                    <a data-toggle="collapse" href="#collapse-secchi${secchiCount}" aria-expanded="true" aria-controls="collapse-secchi${secchiCount}" id="heading-example" class="d-block">
                        <i class="fa fa-chevron-down pull-right"></i>
                        Secchi ${secchiCount}
                    </a>
                </div>
                <div id="collapse-secchi${secchiCount}" class="collapse show" aria-labelledby="heading-example">
                    <div class="card-body">
                        <div class="form-group">
                            <label class='form-label' for="secchi_depth">Secchi Depth: </label>
                            <input type="number" id="secchi_depth" placeholder="Water Clarity" name="secchi_depth" class="form-control" required>
                        </div>
                        <div class="form-inline">
                            <div class="form-group">
                                <label class='form-label' for="secchiCoordinateX">X-Coordinate: </label>
                                <input type="number" step="0.0001" id="secchiCoordinateX" placeholder="X" name="secchiCoordinateX" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label class='form-label' for="secchiCoordinateY">Y-Coordinate: </label>
                                <input type="number" step="0.0001" id="secchiCoordinateY" placeholder="Y" name="secchiCoordinateY" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label class='form-label' for="secchiDepth">Depth: </label>
                                <input type="number" step="0.01" id="secchiDepth" placeholder="Depth" name="secchiDepth" class="form-control" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        `)
    })

    let phosphorusCount = 0;
    $("#addPhosphorus").click(function() { //Add a phosphorus card to the phosphorus container
        phosphorusCount = phosphorusCount + 1;
        $("#phosphorus_Container").append(`
            <div class="card">
                <div class="card-header">
                    <a data-toggle="collapse" href="#collapse-phosphorus${phosphorusCount}" aria-expanded="true" aria-controls="collapse-phosphorus${phosphorusCount}" id="heading-example" class="d-block">
                        <i class="fa fa-chevron-down pull-right"></i>
                        Phosphorus ${phosphorusCount}
                    </a>
                </div>
                <div id="collapse-phosphorus${phosphorusCount}" class="collapse show" aria-labelledby="heading-example">
                    <div class="card-body">
                        <div class="form-group">
                            <label class='form-label' for="phosphorus">Phosphorus: </label>
                            <input type="number" id="phosphorus" placeholder="Phosphorus in PPB" name="phosphorus" class="form-control" required>
                        </div>
                        <div class="form-inline">
                            <div class="form-group">
                                <label class='form-label' for="phosphorusCoordinateX">X-Coordinate: </label>
                                <input type="number" step="0.0001" id="phosphorusCoordinateX" placeholder="X" name="phosphorusCoordinateX" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label class='form-label' for="phosphorusCoordinateY">Y-Coordinate: </label>
                                <input type="number" step="0.0001" id="phosphorusCoordinateY" placeholder="Y" name="phosphorusCoordinateY" class="form-control" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        `)
    })

    let calciumCount = 0;
    $("#addCalcium").click(function() { //Add a calcium card to the calcium container
        calciumCount = calciumCount + 1;
        $("#calcium_Container").append(`
            <div class="card">
                <div class="card-header">
                    <a data-toggle="collapse" href="#collapse-calcium${calciumCount}" aria-expanded="true" aria-controls="collapse-calcium${calciumCount}" id="heading-example" class="d-block">
                        <i class="fa fa-chevron-down pull-right"></i>
                        Calcium ${calciumCount}
                    </a>
                </div>
                <div id="collapse-calcium${calciumCount}" class="collapse show" aria-labelledby="heading-example">
                    <div class="card-body">
                        <div class="form-group">
                            <label class='form-label' for="calcium">Calcium: </label>
                            <input type="number" id="calcium" placeholder="Calcium in PPM" name="calcium" class="form-control" required>
                        </div>
                        <div class="form-inline">
                            <div class="form-group">
                                <label class='form-label' for="calciumCoordinateX">X-Coordinate: </label>
                                <input type="number" step="0.0001" id="calciumCoordinateX" placeholder="X" name="calciumCoordinateX" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label class='form-label' for="calciumCoordinateY">Y-Coordinate: </label>
                                <input type="number" step="0.0001" id="calciumCoordinateY" placeholder="Y" name="calciumCoordinateY" class="form-control" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        `)
    })
</script>
