<!-- include the partial at the top of the file-->
<%- include('../partials/head')%>
    <h1 class="text-center">New Health Report</h1>
    <form action="/lakeReports" method="post" class="text-center" name="submit">
        <div class="form-group">
            <!-- date input, sent under 'date' label-->
            <label for="date_generated">Date: </label>
            <input type="text" id="date_generated" placeholder="year-mo-dy" name="date_generated">
        </div>
        <div class="form-group">
            <!-- health input, sent under 'health' label-->
            <label for="status">Status: </label>
            <input type="text" id="status" placeholder="Status" name="status">
        </div>
        <div class="form-group">
            <!-- health input, sent under 'health' label-->
            <label for="summary">Summary: </label>
            <input type="text" id="summary" placeholder="Summary" name="summary">
        </div>
        <div class="form-group">
            <!-- health input, sent under 'health' label-->
            <label for="Level_of_Concern">Level of Concern: </label>
            <input type="text" id="level_of_concern" placeholder="level of concern" name="level_of_concern">
        </div>
        <div class="form-group">
            <!-- health input, sent under 'health' label-->
            <label for="perc_shore_devd">Perc Shore Devd: </label>
            <input type="text" id="perc_shore_devd" placeholder="perc shore devd" name="perc_shore_devd">
        </div>
        <div class="form-group">
            <!-- health input, sent under 'health' label-->
            <label for="avg_temp">Average Temperature: </label>
            <input type="text" id="avg_temp" placeholder="Temperature Value" name="avg_temp">
        </div>
        <!-- TODO: Also, are we storing this in the model? where is this going -->
        <div class="form-group">
            <label for="Metric">Celsius: </label>
            <input type="radio" id="celsius" name="Metric" value="c">
            <label for="Metric">Fahrenheit: </label>
            <input type="radio" id="fahrenheit" name="Metric" value="f">
        </div>
        <div class="form-group">
            <!-- health input, sent under 'health' label-->
            <label for="avg_do_conc">Average Do Conc: </label>
            <input type="text" id="avg_do_conc" placeholder="Dissolved Oxygen" name="avg_do_conc">
        </div>
        <div class="form-group">
            <!-- health input, sent under 'health' label-->
            <label for="avg_secchi_depth">Average Secchi Depth: </label>
            <input type="text" id="avg_secchi_depth" placeholder="Water Clarity" name="avg_secchi_depth">
        </div>
        <div class="form-group">
            <!-- health input, sent under 'health' label-->
            <label for="Avg_Phosph">Average Phospherous: </label>
            <input type="text" id="avg_phosph" placeholder="Phosphorus" name="avg_phosph">
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm">
                <button type="submit" class="btn btn-outline-primary btn-block">Submit</button>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </form>
    <br> <!-- TODO: REMOVE THIS, FORMAT PROPERLY -->
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm">
            <a href="/lakeReports" class="btn btn-outline-secondary btn-block">All Reports</a>
        </div>
        <div class="col-sm-2"></div>
    </div>
<!-- include footer partial -->
<%- include('../partials/foot')%>
