<!-- include the partial at the top of the file-->
<%- include('../partials/head')%>
    <h1 class="text-center">New Health Report</h1>
    <form action="/lakeReports" method="post" class="text-center" name="submit">
        <div class="form-group">
            <!-- date input, sent under 'date' label-->
            <label for="Date_Generated">Date: </label>
            <input type="text" id="Date_Generated" placeholder="year-mo-dy" name="Date_Generated">
        </div>
        <div class="form-group">
            <!-- health input, sent under 'health' label-->
            <label for="Status">Status: </label>
            <input type="text" id="Status" placeholder="Status" name="Status">
        </div>
        <div class="form-group">
            <!-- health input, sent under 'health' label-->
            <label for="Summary">Summary: </label>
            <input type="text" id="Summary" placeholder="Summary" name="Summary">
        </div>
        <div class="form-group">
            <!-- health input, sent under 'health' label-->
            <label for="Level_of_Concern">Level of Concern: </label>
            <input type="text" id="Level_of_Concern" placeholder="level of concern" name="Level_of_Concern">
        </div>
        <div class="form-group">
            <!-- health input, sent under 'health' label-->
            <label for="Perc_Shore_Devd">Perc Shore Devd: </label>
            <input type="text" id="Perc_Shore_Devd" placeholder="perc shore devd" name="Perc_Shore_Devd">
        </div>
        <div class="form-group">
            <!-- health input, sent under 'health' label-->
            <label for="Avg_Temp">Average Temperature: </label>
            <input type="text" id="Avg_Temp" placeholder="Temperature Value" name="Avg_Temp">
        </div>
        <div class="form-group">
            <label for="Metric">Celsius: </label>
            <input type="radio" id="celsius" name="Metric" value="c">
            <label for="Metric">Fahrenheit: </label>
            <input type="radio" id="fahrenheit" name="Metric" value="f">
        </div>
        <div class="form-group">
            <!-- health input, sent under 'health' label-->
            <label for="Avg_DO_Conc">Average Do Conc: </label>
            <input type="text" id="Avg_DO_Conc" placeholder="Dissolved Oxygen" name="Avg_DO_Conc">
        </div>
        <div class="form-group">
            <!-- health input, sent under 'health' label-->
            <label for="Avg_Secchi_Depth">Average Secchi Depth: </label>
            <input type="text" id="Avg_Secchi_Depth" placeholder="Water Clarity" name="Avg_Secchi_Depth">
        </div>
        <div class="form-group">
            <!-- health input, sent under 'health' label-->
            <label for="Avg_Phosphh">Average Phospherous: </label>
            <input type="text" id="Avg_Phosph" placeholder="Phosphorus" name="Avg_Phosph">
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm">
                <button type="submit" class="btn btn-outline-primary btn-block">Submit</button>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </form>
    <br> <!-- TODO: REMOVE THIS, FORMAT PROPERLY -->
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm">
            <a href="/lakeReports" class="btn btn-outline-secondary btn-block">All Reports</a>
        </div>
        <div class="col-sm-2"></div>
    </div>
<!-- include footer partial -->
<%- include('../partials/foot')%>
