<!-- include the partial at the top of the file-->
<%- include('../partials/head')%>
<%- include('../partials/navbar')%>
<%- include('../partials/videoBG')%>

<div class="container bg-light main-bg d-flex align-items-center overflow-auto">
    <div class="container">
        <%- include('../partials/flash') %>
        <h1>Test</h1>