<!--TODO:
    - remove BR's
    - Multiple fish radio buttons are linked
-->

<!-- include the partial at the top of the file-->
<%- include('../partials/head')%>
<%- include('../partials/navbar')%>
<div class="container bg-light main-bg d-flex align-items-center overflow-auto">
        <div class="container">
        <%- include('../partials/flash') %>
        <h1 class="text-center">New Angler Report</h1>
        <form action="/anglerReports" method="post" class="text-center needs-validation" name="submit" novalidate enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-left">General Information</h2>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="form-label" for="lake">Lake Name: </label>
                        <input class="form-control" type="text" id="lake" placeholder="Lake Name" name="lake" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="municipality">Municipality: </label>
                        <input class="form-control" type="text" id="municipality" placeholder="Municipality" name="municipality" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="date">Date: </label>
                        <input class="form-control" type="date" id="date" placeholder="year-mo-dy" name="date" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="t_start">Time In: </label>
                        <input  class="form-control" type="time" id="t_start" placeholder="hh:mm" name="t_start" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="t_end">Time Out: </label>
                        <input  class="form-control" type="time" id="t_end" placeholder="hh:mm" name="t_end" required>
                    </div>
                </div>
                </div>

            <div class="row">
                <h2 class="text-left">Fish Caught</h2>
                <div class="container" id="fishes">
                    <div class="card">
                        <div class="card-header">
                            <a data-toggle="collapse" href="#collapse-0" aria-expanded="true" aria-controls="collapse-0" id="heading-example" class="d-block">
                                <i class="fa fa-chevron-down pull-right"></i>
                                Fish 1
                            </a>
                        </div>
                        <div id="collapse-0" class="collapse show" aria-labelledby="heading-example">
                            <div class="card-body">
                                <div class="form-group d-flex flex-column">
                                    <label class="form-label" for="photo">Picture of Fish: </label>
                                    <input class="form-control-file" type="file" id="photo" name="photo" multiple>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="species">Species: </label>
                                    <input class="form-control" type="text" id="species" placeholder="Species of Fish" name="species" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="length">Length: </label>
                                    <input class="form-control" type="number" id="length" placeholder="Length of Fish" name="length">
                                </div>
                                <div class="form-group">
                                    <label class="radio-inline" for="Length_Metric">
                                        <input class="form-control" type="radio" id="centimeters" name="Length_Metric" value="metric" required checked>Centimeters
                                    </label>
                                    <label class="radio-inline" for="Length_Metric">
                                        <input class="form-control" type="radio" id="inches" name="Length_Metric" value="imperial" required>Inches
                                    </label>

                            </div>
                            <div class="form-group">
                                <label class="form-label" for="weight">Weight: </label>
                                <input class="form-control" type="text" id="weight" placeholder="Weight of Fish" name="weight">
                            </div>
                            <div class="form-group">
                                <label class="radio-inline" for="Weight_Metric">
                                    <input class="form-control" type="radio" id="pounds" name="Weight_Metric" value="metric" required checked>Pounds
                                </label>
                                <label class="radio-inline" for="Weight_Metric">
                                    <input class="form-control" type="radio" id="kilograms" name="Weight_Metric" value="imperial" required>Kilograms
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            </div>

            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <button class="btn btn-outline-secondary btn-block" type="button" id="addFish">Add Fish</button>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm">
                    <button type="submit" class="btn btn-outline-primary btn-block">Submit</button>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </form>
    </div>
<!-- include footer partial -->
<%- include('../partials/foot')%>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';

        const forms = document.querySelectorAll('.needs-validation')

        Array.from(forms).forEach(function(form) {
            form.addEventListener('submit', function(event) {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })();

    let fishCount = 0;

    $("#addFish").click(function() {
        fishCount = fishCount + 1;
        $("#fishes").append(`
            <div class="card">
                <div class="card-header">
                    <a data-toggle="collapse" href="#collapse-${fishCount}" aria-expanded="true" aria-controls="collapse-${fishCount}" id="heading-example" class="d-block">
                        <i class="fa fa-chevron-down pull-right"></i>
                        Fish ${fishCount + 1}
                    </a>
                </div>
                <div id="collapse-${fishCount}" class="collapse show" aria-labelledby="heading-example">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label" for="species">Species: </label>
                            <input class="form-control" type="text" id="species" placeholder="Species of Fish" name="species">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="length">Length: </label>
                            <input class="form-control" type="number" id="length" placeholder="Length of Fish" name="length">
                        </div>
                        <div class="form-group">
                            <label class="radio-inline" for="Length_Metric">
                                <input class="form-control" type="radio" id="centimeters" name="Length_Metric" value="m" required checked>Centimeters
                            </label>
                            <label class="radio-inline" for="Length_Metric">
                                <input class="form-control" type="radio" id="inches" name="Length_Metric" value="i" required>Inches
                            </label>

                        </div>
                        <div class="form-group">
                            <label class="form-label" for="weight">Weight: </label>
                            <input class="form-control" type="number" id="weight" placeholder="Weight of Fish" name="weight">
                        </div>
                        <div class="form-group">
                            <label class="radio-inline" for="Weight_Metric">
                                <input class="form-control" type="radio" id="pounds" name="Weight_Metric" value="l" required checked>Pounds
                            </label>
                            <label class="radio-inline" for="Weight_Metric">
                                <input class="form-control" type="radio" id="kilograms" name="Weight_Metric" value="k" required>Kilograms
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        `)
    })
</script>